/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html body{
    width: 100%;
}
main{
    padding-top: 158px;
}

.header-wraper{
    max-width: 1728px;
    width: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header{
    width: 100%;
    background-color: #191A19;
    position: fixed;
    padding: 44px 0 48px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
}
.logo h1{
    color: #FF7420;
    font-family: 'Unlock';
    font-size: 40.98px;
    font-weight: 400;
    line-height: 43.76px;
    text-align: left; 
}
.navigation ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
}
.navigation a{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #FFF;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
}
.navigation a:hover{
    color: #FF7420;
    text-decoration: underline;
    text-underline-offset: 20px;
}
.burgerbar{
    display: none;
}
.burgerbar-sec-two{
    display: none;
}
#language{
    cursor: pointer;
    border: none;
    background: transparent;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;

}
.language-contact button{
    max-width: 194px;
    width: 100%;
    height: 66px;
    background-color: #FF7420;
    border-radius: 15px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #FFF;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    padding: 20px;
}
.language-contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
}
.section-one-photo{
    background:-o-linear-gradient(right, #000000 11.13%, rgba(0, 0, 0, 0) 100%), url(../images/130b10739ac4818fa48bbb46c0a1c8cd.jpeg);
    background:-webkit-gradient(linear, right top, left top, color-stop(11.13%, #000000), to(rgba(0, 0, 0, 0))), url(../images/130b10739ac4818fa48bbb46c0a1c8cd.jpeg);
    background:linear-gradient(270deg, #000000 11.13%, rgba(0, 0, 0, 0) 100%), url(../images/130b10739ac4818fa48bbb46c0a1c8cd.jpeg);
    width: 100%;
    height: 936px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transform: scaleX(-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}
.section-one-wraper{
    -webkit-transform: scaleX(-1);
    max-width: 1728px;
    width: 87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.section-one-wraper h1{
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: #FFF;
}
.section-one-wraper h2{
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: #FFF;
}
.section-one-wraper span{
    color: #FF7420;
}
.section-one-wraper p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #FFF;
    max-width: 587px;
    width: 100%;
    margin: 14px 0 75px 0;
}
.button1{
    width: 300px;
    height: 66px;
    border: none;
    border-radius: 15px;
    background-color: #FF7420;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}
.button2{
    width: 300px;
    height: 66px;
    border: none;
    border-radius: 15px;
    background-color: #FFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
.section-one-buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
}
.sec-two{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FF7420;
    padding: 57px 0;
}
.sec-two-wraper{
    max-width: 1728px;
    width: 87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.two-top-part{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sec-two-navigation ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.two-top-part h1{
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    color: #191A19;
}
.sec-two-navigation a{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #FFF;
    padding: 10px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
    width: 100%;
}
.sec-two-navigation a:hover{
    color: #191A19;
    text-decoration: underline;
    text-underline-offset: 20px;
}
.sec-two-photos{
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35vw;
    -webkit-column-gap: 18.43px;
       -moz-column-gap: 18.43px;
            column-gap: 18.43px;
}
.photo{
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-bottom: 30px;
    height: 100%;
}
.photo h1{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #FFF;
}
.photo p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #FFF;
}
.sec-two-photo1{
    background-image:-o-linear-gradient(top, rgba(0, 0, 0, 0) 50.08%, #000000 100%), url(../images/donny-jiang-42gFAgdIUC8-unsplash\ 1.jpg);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(50.08%, rgba(0, 0, 0, 0)), to(#000000)), url(../images/donny-jiang-42gFAgdIUC8-unsplash\ 1.jpg);
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 50.08%, #000000 100%), url(../images/donny-jiang-42gFAgdIUC8-unsplash\ 1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec-two-photo2{
    background-image:-o-linear-gradient(top, rgba(0, 0, 0, 0) 50.08%, #000000 100%), url(../images/daniele-buso-73AF6JIEBl8-unsplash\ 1.jpg);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(50.08%, rgba(0, 0, 0, 0)), to(#000000)), url(../images/daniele-buso-73AF6JIEBl8-unsplash\ 1.jpg);
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 50.08%, #000000 100%), url(../images/daniele-buso-73AF6JIEBl8-unsplash\ 1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec-two-photo3{
    background-image:-o-linear-gradient(top, rgba(0, 0, 0, 0) 50.08%, #000000 100%), url(../images/jack-b-jQByZkbC5Q4-unsplash\ 1.jpg);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(50.08%, rgba(0, 0, 0, 0)), to(#000000)), url(../images/jack-b-jQByZkbC5Q4-unsplash\ 1.jpg);
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 50.08%, #000000 100%), url(../images/jack-b-jQByZkbC5Q4-unsplash\ 1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.explore{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    margin-top: 22px;
}
.explore i{
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 12px;
    background-color: #191A19;
    color: #FF7420;
}
.explore p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #191A19;
}
.explore a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sec-three{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #191A19;
    padding: 41px 0;
}
.sec-three-wraper{
    max-width: 1728px;
    width: 61.74%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sec-three-wraper h1{
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: #FF7420;
    padding-bottom: 28px;
}
.sec-three-wraper p{
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    padding-bottom: 14px;
}
.sec-four{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #191A19;
}
.sec-four-wraper{
    max-width: 1728px;
    width: 87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.four-header{
    font-family: 'Poppins';
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    color: #FFF;
    padding: 61px 0 121px;
}
.orange-left{
    width: 64%;
    background-color: #FF7420;
    padding: 42px 54px 45px 53px;
    border-radius: 15px;
}
.orange-right{
    width: 33%;
    background-color: #FF7420;
    padding: 42px 58px 46px 57px;
    border-radius: 15px;
}

.sec-four-orange{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.orange-header{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #FFF;
}
.info h1{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFF;
}
.info p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #FFF;
}
.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
    margin-top: 38px;
}
.orange-right button{
    width: 100%;
    height: 76px;
    background-color: #191A19;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    border: none;
    border-radius: 15px;
    margin-top: 45px;
}
.orange-left p{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFF;
    margin-top: 24px;
}
.form-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
}
.form-1 input{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 4.3vw;
    padding-left: 62.25px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.form-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
}
.form-2 input{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 4.3vw;
    padding-left: 62.25px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.form-2 select{
    width: 100%;
    height: 4.3vw;
    border-radius: 15px;
    background-color: #FFF;
    border: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #191A1980;
    padding-left: 62.25px;
    padding-right: 9px;
}
textarea{
    width: 100%;
    height: 8.5vw;
    border-radius: 15px;
    border: none;
}
.forms{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 18px;
}
.form-4 input{
    width: 100%;
    height: 76px;
    border: none;
    border-radius: 15px;
    background-color: #191A19;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 45px;
    cursor: pointer;
}
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #191A19;
    padding: 50px 0;
}
.footer-wraper{
    max-width: 1728px;
    width: 87%;
}
.logo-subscribe{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo-subscribe .logo h1{
    color: #FFF;
} 
.logo-subscribe label{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFF;
}
.logo-subscribe input{
    background-color: transparent;
    border: none;
    margin-left: 15px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 20px;
    width: 100%;
}
.logo-subscribe i{
    color: white;
}
.logo-subscribe form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 29px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-info h1{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #FFF;
    margin-bottom: 14px;
}
.footer-info p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFF;
}
.footer-navigation a{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFF;
}
.about-us{
    width: 30vw;
}
.office{
    width: 17vw;
}
.contact{
    width: 15vw;
}
link{
    width: 4.1vw;
}
.fa-brands{
    color: #FFF;
    font-size: 30px;
}
.social-media{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
    margin-top: 24px;
}
.arrow{
    display: none;
}

@media (max-width: 1190px){
    .navigation a{
        font-size: 16px;
    }
    .language-contact button{
        height: 50px;
        font-size: 16px;
    }
    #language{
        font-size: 16px;
    }
    .logo h1{
        font-size: 27px;
    }
    main{
        padding-top: 142px;
    }
    .navigation ul{
        -webkit-column-gap: 16px;
           -moz-column-gap: 16px;
                column-gap: 16px;
    }
    .button1{
        font-size: 16px;
    }
    .button2{
        font-size: 16px;
    }
    .photo h1{
        font-size: 16px;
    }
    .orange-header{
        font-size: 16px;
    }
    .section-one-wraper h1{
        font-size: 53px;
    }
    .section-one-wraper h2{
        font-size: 53px;
    }
    .section-one-buttons{
        -webkit-column-gap: 16px;
           -moz-column-gap: 16px;
                column-gap: 16px;
    }
    .two-top-part h1{
        font-size: 53px;
    }
    .sec-two-navigation a{
        font-size: 13px;
    }
    .explore p{
        font-size: 13px;
    }
    .sec-four-orange{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 24px;
    }
    .orange-left{
        width: 100%;
    }
    .orange-right{
        width: 100%;
    }
    .logo-subscribe{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        row-gap: 40px;
    }
    .logo-subscribe form{
        width: 100%;
    }
    .logo-subscribe label{
        width: 100%;
    }
    .logo-subscribe .logo h1{
        font-size: 58px;
    }
}
@media (max-width: 856px){
    .burgerbar-sec-two{
        display: block;
        background-color: #191A19;
        font-size: 30px;
        color: #FFF;
        height: 50px;
        width: 50px;
        border-radius: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .burgerbar-sec-two a{
        color: #FFF;
    }
    .sec-two-navigation{
        display: none;
    }
    .sec-two-photos{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 24px;
    }
    .photo{
        height: 100vw;
    }
    .sec-two-wraper{
        /* align-items: center; */
    }
}
@media (max-width: 820px) {
    .burgerbar{
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        background-color: #FF7420;
        font-size: 30px;
        height: 50px;
        width: 50px;
        border-radius: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .language-contact form{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .language-contact button{
        display: none;
    }
    .burgerbar a{
        color: #FFF;
    }
    .navigation{
        display: none;
    }
    .logo{
        margin-right: 20px;
    }
    .two-top-part h1{
        margin-right: 20px;
    }
    .form-1 input{
        padding-left: 20px;
        font-size: 13px;
    }
    .form-2 input{
        padding-left: 20px;
        font-size: 13px;
    }
    .form-2 select{
        padding-left: 20px;
        font-size: 13px;
    }
    .content{
        display: none;
    }
    .footer-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .arrow{
        display: block;
        color: white;
    }
    .link,
    .contact,
    .office,
    .about-us{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .section-one-wraper{
        width: 92%;
        
    }
    .section-one-wraper h1{
        text-align: center;
    }
    .section-one-wraper h2{
        text-align: center;
    }
    .section-one-wraper p{
        text-align: center;
    }
    .section-one-wraper{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .section-one-buttons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 90%;
    }
    .section-one-photo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .button1{
        width: 100%;
    }
    .button2{
        width: 100%;
    }
    .section-one-buttons{
        row-gap: 24px;
    }
    .four-header{
        font-size: 40px;
    }
}
@media (max-width: 502px){
   .logo-subscribe .logo{
    display: none;
   } 
}
@media (max-width: 420px) {
    .language-contact form{
        display: none;
    }
    .section-one-wraper{
        width: 95%;
    }
    .sec-two-wraper{
        width: 95%;
    }
    .sec-three-wraper{
        width: 95%;
    }
    .sec-four-wraper{
        width: 95%;
    }
    .footer-wraper{
        width: 95%;
    }
    .orange-right{
        padding: 42px 25px 46px 25px;
    }
    .orange-left{
        padding: 42px 25px 45px 25px;
    }
}